/* line 1, ../sass/header.scss */
.header {
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  max-width: 80%;
  color: #f9fafe;
  font: 700 12px/22px Raleway;
}
/* line 10, ../sass/header.scss */
.header .btn-secondary {
  font: 700 12px/22px Raleway;
  color: #f9fafe;
  background-color: inherit;
}
