/* line 1, ../sass/main-video-bgr.scss */
.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  max-height: 80vh;
}

/* line 8, ../sass/main-video-bgr.scss */
.fullscreen-bg__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.6;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 19, ../sass/main-video-bgr.scss */
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 26, ../sass/main-video-bgr.scss */
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  /* line 33, ../sass/main-video-bgr.scss */
  .fullscreen-bg {
    background: url("../images/polina.jpg") center center/cover no-repeat;
  }
}
