.explore-section {
  .text-box {
    margin: 10% 0 5%;
    h2 {

      color: #343435;
    }
    p {

      color: #717171;
    }
  }
  .gallery-item {
    margin: 15px 0;
  }
  .img-text {
    position: absolute;
    bottom: 0;
    left: 30px;

  }

  .count-view {
    position: absolute;
    top: 8%;
    left: 45px;
    width: 82px;
    height: 42px;
    border-radius: 5px;
    background-color: #e7434e;
    p {
      margin: 0 0 0 10%;
    }
    img {
      margin-left: 20%;
      height: 16px;
      width: 16px;
    }
  }
  .btn-secondary {
    margin-top: 5%;
    padding: 25px 20px;
  }
}


@media screen and (min-width: 1400px) {
  .img-text h5 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .img-text h5 {
    font-size: 27px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1099px) {
  .img-text h5 {
    font-size: 24px;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  .img-text h5 {
    font-size: 23px;
  }
}